<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">


		<!-- Core CSS -->
		<link href="{{site.baseurl}}assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{site.baseurl}}assets/css/main.css" rel="stylesheet">

		<!-- AddOn/Plugin CSS -->
		<link href="{{site.baseurl}}assets/css/yellow.css" rel="stylesheet" title="Color">
		<link href="{{site.baseurl}}assets/css/owl.carousel.css" rel="stylesheet">
		<link href="{{site.baseurl}}assets/css/owl.transitions.css" rel="stylesheet">
		<link href="{{site.baseurl}}assets/css/animate.min.css" rel="stylesheet">
		<link href="{{site.baseurl}}assets/css/aos.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="{{site.baseurl}}assets/css/custom.css" rel="stylesheet">

		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

		<!-- Icons/Glyphs -->
		<link href="{{site.baseurl}}assets/fonts/fontello.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{site.baseurl}}assets/images/favicon-cirrus.ico">

		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="{{site.baseurl}}assets/js/html5shiv.js"></script>
			<script src="{{site.baseurl}}assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<!-- ============================================================= HEADER ============================================================= -->

		<header>
			<div class="navbar">

				<div class="navbar-header">
					<div class="container">

						<ul class="info pull-left">
							<li><a href="mailto:info@cirruspublications.com"><i class="icon-mail-1 contact"></i> info@cirruspublications.com</a></li>
						</ul><!-- /.info -->

						<ul class="social pull-right">
							<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-s-twitter"></i></a></li>
							<li><a href="#"><i class="icon-s-github"></i></a></li>
						</ul><!-- /.social -->

						<!-- ============================================================= LOGO MOBILE ============================================================= -->

						<a class="navbar-brand" href="{{site.baseurl}}index.html"><img src="{{site.baseurl}}assets/images/logo-cirrus.svg" class="logo" alt=""></a>

						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

						<a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

					</div><!-- /.container -->
				</div><!-- /.navbar-header -->

				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">

							<!-- ============================================================= LOGO ============================================================= -->

							<a class="navbar-brand" href="{{site.baseurl}}index.html"><img src="{{site.baseurl}}assets/images/logo-cirrus.svg" class="logo" alt=""></a>

							<!-- ============================================================= LOGO : END ============================================================= -->


							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

							<ul class="nav navbar-nav pull-right">

								<li><a href="{{site.baseurl}}index" class="scroll-to" data-anchor-offset="0">Home</a></li>
								<li><a href="{{site.baseurl}}portfolio" class="scroll-to" data-anchor-offset="0">Portfolio</a></li>
								<li><a href="{{site.baseurl}}services" class="scroll-to" data-anchor-offset="0">Services</a></li>
								<li><a href="{{site.baseurl}}contact" class="scroll-to" data-anchor-offset="0">Contact</a></li>



							</ul><!-- /.nav -->

							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>

		<!-- ============================================================= HEADER : END ============================================================= -->



    {{content}}




		<!-- ============================================================= FOOTER ============================================================= -->

		<footer class="dark-bg">
			<div class="container inner">
				<div class="row">

					<div class="col-md-3 col-sm-6 inner">
						<h4>Who we are</h4>
						<a href="{{site.baseurl}}index.html"><img class="logo img-intext" src="{{site.baseurl}}assets/images/logo-cirrus-white.svg" alt=""></a>
						<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
						<a href="{{site.baseurl}}about.html" class="txt-btn">More about us</a>
					</div><!-- /.col -->

					<div class="col-md-3 col-sm-6 inner">
						<h4>Latest works</h4>

						<div class="row thumbs gap-xs">

							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="{{site.baseurl}}portfolio-post.html"><img src="{{site.baseurl}}assets/images/art/work02.jpg" alt=""></a>
								</figure>
							</div><!-- /.thumb -->

							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="{{site.baseurl}}portfolio-post.html"><img src="{{site.baseurl}}assets/images/art/work03.jpg" alt=""></a>
								</figure>
							</div><!-- /.thumb -->

							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="{{site.baseurl}}portfolio-post.html"><img src="{{site.baseurl}}assets/images/art/work07.jpg" alt=""></a>
								</figure>
							</div><!-- /.thumb -->

							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="{{site.baseurl}}portfolio-post.html"><img src="{{site.baseurl}}assets/images/art/work01.jpg" alt=""></a>
								</figure>
							</div><!-- /.thumb -->

						</div><!-- /.row -->
					</div><!-- /.col -->


					<div class="col-md-3 col-sm-6 inner">
						<h4>Get In Touch</h4>
						<p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
						<ul class="contacts">
							<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
							<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
							<li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
						</ul><!-- /.contacts -->
					</div><!-- /.col -->

					<div class="col-md-3 col-sm-6 inner">
						<h4>Free updates</h4>
						<p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
						<form id="newsletter" class="form-inline newsletter" role="form">
							<label class="sr-only" for="exampleInputEmail">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
							<button type="submit" class="btn btn-default btn-submit">Subscribe</button>
						</form>
					</div><!-- /.col -->

				</div><!-- /.row -->
			</div><!-- .container -->

			<div class="footer-bottom">
				<div class="container inner">
					<p class="pull-left">© 2018 Cirrus Publications. All rights reserved.</p>
					<ul class="footer-menu pull-right">
						<li><a href="{{site.baseurl}}index.html">Home</a></li>
						<li><a href="{{site.baseurl}}portfolio.html">Portfolio</a></li>
						<li><a href="{{site.baseurl}}services.html">Services</a></li>
						<li><a href="{{site.baseurl}}contact.html">Contact</a></li>
					</ul><!-- .footer-menu -->
				</div><!-- .container -->
			</div><!-- .footer-bottom -->
		</footer>

		<!-- ============================================================= FOOTER : END ============================================================= -->

		<!-- JavaScripts placed at the end of the document so the pages load faster -->
		<script src="{{site.baseurl}}assets/js/jquery.min.js"></script>
		<script src="{{site.baseurl}}assets/js/jquery.easing.1.3.min.js"></script>
		<script src="{{site.baseurl}}assets/js/jquery.form.js"></script>
		<script src="{{site.baseurl}}assets/js/jquery.validate.min.js"></script>
		<script src="{{site.baseurl}}assets/js/bootstrap.min.js"></script>
		<script src="{{site.baseurl}}assets/js/aos.js"></script>
		<script src="{{site.baseurl}}assets/js/owl.carousel.min.js"></script>
		<script src="{{site.baseurl}}assets/js/jquery.isotope.min.js"></script>
		<script src="{{site.baseurl}}assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="{{site.baseurl}}assets/js/jquery.easytabs.min.js"></script>
		<script src="{{site.baseurl}}assets/js/viewport-units-buggyfill.js"></script>
		<script src="{{site.baseurl}}assets/js/selected-scroll.js"></script>
		<script src="{{site.baseurl}}assets/js/scripts.js"></script>
		<script src="{{site.baseurl}}assets/js/custom.js"></script>

		<!-- For demo purposes – can be removed on production -->
		<link href="{{site.baseurl}}assets/css/yellow.css" rel="alternate stylesheet" title="Yellow color">

		<script src="switchstylesheet/switchstylesheet.js"></script>

		<script>
			$(document).ready(function(){
				$(".changecolor").switchstylesheet( { seperator:"color"} );
			});
		</script>
		<!-- For demo purposes – can be removed on production : End -->
	</body>
</html>
